<div class="about-component">
    <div class="aboutInfo">
        <div class="aboutTitle">About us</div>
        <div class="aboutText">Our application allows you to register for <br> various events. You can just send request <br> and if the certain event is available we will put you on the list.</div>
    </div>
    <div class="photoGallery">
        <div class="aboutImageContainer">
            <img src="/images/conference.jpg">
            <div>Proffesional events, conferences, web seminars, networking etc.</div>
        </div>
        <div class="aboutImageContainer">
            <img src="/images/education.jpg">
            <div>Educational events, classes, courses, school events.</div>
        </div>
        <div class="aboutImageContainer">
            <img src="/images/sports.jpg">
            <div>Sport events, football, basketball, tennis, etc.</div>
        </div>
    </div>
</div>
