<div class="event-container">
  <div *ngIf="loading$ | async" class="loading-container">
    <p>Loading event details...</p>
  </div>
  <div *ngIf="error$ | async as error" class="error-container">
    <p>{{ error }}</p>
  </div>
  <div *ngIf="event$ | async as event; else noEvent">
    <div class="event-header">
      <h2>{{ event.name }}</h2>
    </div>
    <div class="event-details">
      <p><strong>Description:</strong> {{ event.description }}</p>
      <p><strong>Date:</strong> {{ event.date | date: 'medium' }}</p>
      <p><strong>Location:</strong> {{ event.location }}</p>
    </div>
    <div>
      <button>Register</button>
      <button (click)="goBack()">Back</button>
    </div>
  </div>

  <ng-template #noEvent>
    <div class="error-container">
      <p>Event not found!</p>
    </div>
  </ng-template>
</div>