<div *ngIf="user; else noUser" class="profile-container">
    <h2 class="title">User Profile</h2>
    <table class="user-details">
        <tr>
            <td><strong>Email:</strong></td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td><strong>Name:</strong></td>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <td><strong>Last Name:</strong></td>
            <td>{{ user.lastName }}</td>
        </tr>
        <tr>
            <td><strong>Address:</strong></td>
            <td>{{ user.address }}</td>
        </tr>
        <tr>
            <td><strong>Phone Number:</strong></td>
            <td>{{ user.phoneNumber }}</td>
        </tr>
        <tr>
            <td><strong>Image Path:</strong></td>
            <td>{{ user.imagePath }}</td>
        </tr>
    </table>
    
    <h3>Update Profile</h3>
    <form (ngSubmit)="updateUser()" class="update-form">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" [(ngModel)]="userUpdate.name" name="name"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" [(ngModel)]="userUpdate.lastName" name="lastName"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput type="text" [(ngModel)]="userUpdate.address" name="address"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input matInput type="text" [(ngModel)]="userUpdate.phoneNumber" name="phoneNumber"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Image Path</mat-label>
            <input matInput type="text" [(ngModel)]="userUpdate.imagePath" name="imagePath" />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Update Profile</button>
    </form>
</div>

<ng-template #noUser>
    <p>No user found. Please log in.</p>
</ng-template>
